<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Links</title>
</head>
<body>
    <div class="container">
        <a href="https://myqu.qu.edu.sa" target="_blank" class="link1">Go To MyQu (open in a new tab)</a>
        <a href="https://myqu.qu.edu.sa" target="_self" class="link2">Go To MyQu (open in the same tab)</a>
        <a href="https://myqu.qu.edu.sa" target="_self" class="link3">Go To MyQu (open in the same tab)</a>
    </div>
</body>
</html>